.country-wrap .css-1okebmr-indicatorSeparator {
  display: none;
}

.country-wrap .css-tlfecz-indicatorContainer {
  color: #000;
}

.country-wrap .css-1s2u09g-control:hover {
  border-color: #e5e7eb;
}

.country-wrap .css-1pahdxg-control:hover {
  border-color: #e5e7eb;
}

.country-wrap .css-1pahdxg-control {
  border-color: #e5e7eb;
}

.country-wrap .css-1pahdxg-control {
  box-shadow: none;
}
.css-6j8wv5-Input {
  font-size: 5px !important;
}

.react-select-5-input {
  font-size: 5px !important;
}
